# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log
*.log.*
debug.log
pids/
*.pid
*.seed
*.pid.lock

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Dependency directories
bower_components/

# Output folders
dist/
build/
coverage/

# Database
*.sqlite
*.sqlite3
mongodb-data/
db.json
*.db

# Temporary files
tmp/
temp/
.cache/
.nyc_output/
.vscode/
.DS_Store

# Debugging
.idea/
.vscode/
*.swp
*.swo

# Uploads
uploads/
public/uploads/

# TypeScript
*.tsbuildinfo

# Optional: Ignore compiled JavaScript if using TypeScript
*.js
*.d.ts
